/* .container{
    border: 2px solid rgb(238, 130, 224);
    height: 100px;
    width: 100px;
    background-color:yellow;
    margin-left: 450px;
    padding: 50px;
    border-radius: 50%;
    box-shadow:10px 10px 10px 10px red ;
}
.eyes{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    border-color: red transparent transparent transparent;
    border-radius:0px 40px 0px 50%;
} */


.face{
    height: 200px;
    width: 200px;
    background-color:yellow;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px black ;
    position: relative ;
}
.reye{
    height: 40px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    position:absolute;
    top:50px;
    left:50px;
    box-shadow: 0px 0px 1px 1px black ;
    overflow: hidden;
    
}

.leye{
    height: 40px;
    width: 30px;
    background-color:white;
    border-radius: 150%;
    position:absolute;
    margin-left: 15px;
    top:50px;
    left:100px;
    box-shadow: 0px 0px 1px 1px black ;
    overflow: hidden;

}
.mouth{
    height: 20px;
    width: 60px;
    background-color:darkred;
    border-radius: 0px 0px 30px 30px;
    position:absolute;
    top:130px;
    left:65px;
    /* overflow: hidden;  */
    box-shadow: 0px 0px 1px 1px black ;
}
.tongue{
    background-color:rgb(216, 112, 185);
    height:50px;
    width:35px ;
    border-radius:0px 0px 60px 60px ;
    top:0.1px;
    left:13px;
    box-shadow: 0px 0px 1px 1px black ;
    position: absolute;
}
/* .reye:hover{
    background-color:black;
    transform: scale(2);
}
.leye:hover{
    background-color:black;
    transform: scale(2);
} */
.leye:hover{
    transform: skew(90deg);
}
.container{
    margin-left: 200px;
    padding: 100px;

}
.nose{
    height: 20px;
    width: 20px;
    background-color: red;
    top: 90px;
    left: 90px;
    box-shadow: 0px 0px 1px 1px black ;
    position: absolute;
    border-radius: 100%;
}
/* .reyebrow{
    height: 10px;
    width: 50px;
    position: absolute;
    border: 2px solid black;
    border-color: black transparent transparent transparent;
    border-radius: 0px 0px 20px 90px;
    margin-left: 30px;
    margin-top: 40px;
}
.leyebrow{
    height: 10px;
    width:50px;
    position: absolute;
    border: 2px solid black;
    border-color: black transparent transparent transparent;
    border-radius: 20px 90px 10px 0px;
    margin-left: 110px;
    margin-top: 40px;

} */
.rball{
    height: 20px;
    width:20px;
    top:100px;
    left:60px;
    border-radius: 50%;
    background-color:black;
    overflow: hidden;
}
.lball{
    height: 20px;
    width:20px;
    top:100px;
    left:50px;
    border-radius: 50%;
    background-color:black;
    overflow: hidden;

}


